* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background-color: #dddddd;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto.ttf");
}

label,
button {
  display: block;
}

textarea {
  resize: none;
  width: 100% !important;
  height: 74px !important;
  padding: 10px;
  border: 1px solid #777777;
  border-radius: 5px;
  outline: none;
  margin-top: 8px;
}

textarea:focus {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.349);
}

input {
  width: 100%;
  padding: 0 7px;
  height: 32px;
  margin-top: 8px;
  border: 1px solid #777777;
  border-radius: 5px;
  outline: none;
}

input:focus {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.349);
}

input::placeholder {
  color: #cccccc;
}

button {
  width: 110px;
  height: 32px;
  max-width: 100%;
  background-color: #7695ec;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  margin: 16px 0 0 auto;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 700;
}

button:not(.disabled):not(dialog button):hover {
  background-color: #4f79ec;
}

.disabled {
  background-color: gray;
  cursor: not-allowed;
}
