.post-page {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 0 0 16px 16px;
}

.post-page .content {
  padding: 0 24px 10px 24px;
}

.post-page header {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 20px 37px;
  background-color: #7695ec;
  color: #ffff;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  z-index: 1;
}

.post-page header button {
  margin: 0;
  background-color: #ffffff;
  color: black;
  font-weight: 400;
}

.post-page header button:hover {
  color: #ffff;
}

/* ----------- POSTCREATED  ----------- */

.postCreated {
  width: 100%;
  border: 1px solid #999999;
  padding: 24px;
  border-radius: 16px;
  outline: none;
  margin-bottom: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.postCreated-item {
  max-width: 100%;
  margin: 24px 0;
}

.postCreated button {
  width: 120px;
}

/* ----------- POSTCARD  ----------- */

.postcard {
  width: 100%;
  border: 1px solid #999999;
  border-radius: 16px;
  margin-bottom: 24px;
  font-size: 18px;
  animation: slideIn 0.45s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  opacity: 0;
  transform: 0.2s;
}

.postcard header {
  border-radius: 14px 14px 0 0;
  padding: 20px 24px;
  flex-wrap: wrap;
  gap: 15px;
}

.postcard .author {
  font-weight: bold;
}

.postcard header,
.postcard-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postcard-infos {
  color: #777777;
  flex-wrap: wrap;
  gap: 15px;
}

.postcard-infos .datetime {
  font-weight: 400;
}

.postcard .postcard-content {
  padding: 0 24px 24px 24px;
}

.postcard-content .text-postcard {
  margin-top: 16px;
  font-weight: 500;
  overflow-wrap: break-word;
}

/* ----- POST-ACTIONS ------ */

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.postcard span {
  margin: 0 4px 0 4px;
}

.actions span {
  cursor: pointer;
}

.postcard img {
  transition: 0.2s;
  width: 32px;
  height: auto;
}

.postcard img:hover {
  transform: scale(1.05);
}

/* PAGINATION BUTTONS */

.pagination-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.pagination-btns button {
  width: 110px;
  max-width: 100%;
  margin: 0;
}

/* LIKES */

.like-btn svg {
  margin-top: 2px;
}

/* ACCOUNT */

.account {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

/* COMMENTS */

.comments {
  text-align: start;
}

.comments p {
  margin-top: 20px;
}

.commentary-list {
  padding: 0 20px 20px 20px;
}

.commentary-list::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #d1d1d1;
}

.comments button {
  font-size: 0.9rem;
  color: #000000;
  text-align: center;
  margin: 7px auto 0 0;
  cursor: pointer;
  width: 80px;
  padding: 3px 0;
  border-radius: 4px;
  display: inline-block;
}

.content-commentPost {
  position: relative;
  padding-bottom: 10px;
}

.content-commentPost::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 2%;
  width: 2px;
  height: 80px;
  background-color: #7695ec;
}

.comments textarea {
  position: relative;
  z-index: 2;
  border: none;
  padding: 0;
  margin-top: 80px;
  font-size: 1rem;
  padding-top: 10px;
}

.comments textarea:focus {
  box-shadow: none;
}

.comment-icon {
  width: 25px !important;
  height: auto;
}

/* ANIMATIONS */

@keyframes slideIn {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 400px) {
  .postcard-infos .datetime {
    font-size: 1rem;
  }
}

@media screen and (max-width: 310px) {
  .post-page header h2 {
    font-size: 1.2rem;
  }
}
