.signin-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 24px;
  max-width: 95%;
  border: 1px solid #cccccc;
  border-radius: 16px;
}

.signin-page h2 {
  margin-bottom: 24px;
}

.signin-page form {
  width: 500px;
  max-width: 95%;
}


label {
  font-weight: 400;
}



@media screen and (max-width: 280px) {
  .signin-page h2,
  .signin-page label {
    text-align: center;
  }

  .signin-page button {
    margin: 16px auto 0 auto;
  }
}
